@model List<EFCoreSideKick.WebUI.Category>

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>


<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ad</th>
            <th>Durum</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Status</td>
                <td><a href="/Category/Delete/@item.Id" class="btn btn-danger">Sil</a></td>
                <td><a href="/Category/Update/@item.Id" class="btn btn-info">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Category/Create" class="btn btn-success">Kategori Oluştur</a>
</div>

